

body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.card{
    position: fixed;
    margin: auto;
    padding: 1rem;
    inset: 0;
    width: 291px;
    height: 467px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 10px 8px 10px rgb(173 171 171 / 10%);
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h1{
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
    font-size: 22px
}

.card p{
    color: hsl(220, 15%, 55%);
    margin: 0;
    padding: 0 14px;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.8;
}
